{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
OPTION SWATCH
----------------------------------------------------------------------------------------------------------------------

This component renders a single option swatch. The supported options depend on the type of swatch.

********************************************
Supported variables
********************************************

* selected: if set to true, this swatch is preselected
* allow_multiple: if set to true, it allows several values to be selected (by using a checkbox instead of radio)
* value: the color value
* name: the name attribute when field is submitted
* disabled: if set to true allow to disable the swatch
* href: if a link is provided, the swatch is created as a link instead of an input
* form: the form id to use for the input

Media swatch specific parameters:

* media: the media to use
* size: can be 'sm' to make it smaller
* bordered: if set to true, a border is added when the media is not selected

Block swatch specific parameters

* show_color: if set to true, show the color as a small tile.

Color swatch specific parameters:

* size: can be 'sm' to make it smaller
* show_tooltip: if set to true, display a tooltip on hover
{%- endcomment -%}

{%- capture id -%}swatch-{{ 'now' | date: '%N' }}{%- endcapture -%}

{%- if swatch == 'color' or swatch == 'block' and show_color -%}
  {%- assign swatch_config = settings.color_swatch_config | newline_to_br | split: '<br />' -%}

  {%- assign value_downcase = value | downcase -%}
  {%- assign swatch_style = '--swatch-background: ' | append: value_downcase -%}

  {%- for swatch_item in swatch_config -%}
    {%- assign swatch_parts = swatch_item | split: ':' -%}
    {%- assign swatch_name = swatch_parts.first | downcase | strip -%}

    {%- if value_downcase == swatch_name -%}
      {%- assign swatch_value = swatch_parts.last | strip -%}

      
      {%- if swatch_value contains '#' -%}
        {%- assign swatch_style = '--swatch-background: ' | append: swatch_value -%}
      {%- elsif images[swatch_value] != blank -%}
        {%- assign swatch_image = images[swatch_value] | image_url: width: 72 -%}
        {%- assign swatch_style = '--swatch-background: url(' | append: swatch_image | append: ')' -%}
      {%- endif -%}

      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{%- unless href -%}
  <input class="sr-only" type="{% if allow_multiple %}checkbox{% else %}radio{% endif %}" name="{{ name }}" {% if form %}form="{{ form | escape }}"{% endif %} id="{{ id | escape }}" value="{{ value | escape }}" {% if disabled %}disabled{% endif %} {% if selected %}checked="checked"{% endif %}>
{%- endunless -%}

{%- case swatch -%}
  {%- when 'media' -%}
    {%- if media != blank -%}
      {%- if href -%}
        <a href="{{ href }}" class="media-swatch {% if size == 'sm' %}media-swatch--sm{% endif %} {% if selected %}is-selected{% endif %} {% if bordered %}border{% endif %} ">
          <span class="sr-only"> {{ value }}</span>
          {{- media | image_url: width: media.width | image_tag: loading: 'lazy', sizes: '60px', widths: '60,120', class: 'object-cover' -}}
        </a>
      {%- else -%}
        <label class="media-swatch {% if size == 'sm' %}media-swatch--sm{% endif %} {% if bordered %}border{% endif %}" for="{{ id | escape }}" data-option-value>
          <span class="sr-only">{{ value }}</span>
          {{- media | image_url: width: media.width | image_tag: loading: 'lazy', sizes: '60px', widths: '60,120', class: 'object-cover' -}}
        </label>
      {%- endif -%}
    {%- else -%}
      <label class="block-swatch" for="{{ id | escape }}" data-option-value>{{ value }}</label>
    {%- endif -%}

  {%- when 'block' -%}
    {%- if href -%}
      <a href="{{ href }}" class="block-swatch {% if selected %}is-selected{% endif %}">
        {%- if show_color -%}
          <span class="block-swatch__color" style="{{ swatch_style }}"></span>
        {%- endif -%}

        <span>{{ value }}</span>
      </a>
      
    {%- endif -%}


      <!-- ****** Add Tree Edition & Bottle Edition Link *******-->

      <!--  ****** Sal **********   -->
  
      {% if value == "Tree Edition" and product.url contains "sal-essential-scrub-top-black"%}    
        <a href="https://mediclo.com/products/sal-essential-scrub-top-black" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-black" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-sal-essential-scrub-top-black"%}    
        <a href="https://mediclo.com/products/sal-essential-scrub-top-black" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-black" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

       {% elsif value == "Tree Edition" and product.url contains "sal-essential-scrub-top-burgundy"%}    
          
          <a href="https://mediclo.com/products/sal-essential-scrub-top-burgundy" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-burgundy" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-sal-essential-scrub-top-burgundy"%}    
        <a href="https://mediclo.com/products/sal-essential-scrub-top-burgundy" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-burgundy" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

        {% elsif value == "Tree Edition" and product.url contains "sal-essential-scrub-top-ceil-blue"%}    
          
          <a href="https://mediclo.com/products/sal-essential-scrub-top-ceil-blue" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-ceil-blue" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-sal-essential-scrub-top-ceil-blue"%}    
        <a href="https://mediclo.com/products/sal-essential-scrub-top-ceil-blue" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-ceil-blue" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

        {% elsif value == "Tree Edition" and product.url contains "sal-essential-scrub-top-hunter-green"%}    
          
          <a href="https://mediclo.com/products/sal-essential-scrub-top-hunter-green" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-hunter-green" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-sal-essential-scrub-top-hunter-green"%}    
        <a href="https://mediclo.com/products/sal-essential-scrub-top-hunter-green" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-hunter-green" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

      {% elsif value == "Tree Edition" and product.url contains "sal-essential-scrub-top-mauve"%}    
          
          <a href="https://mediclo.com/products/sal-essential-scrub-top-mauve" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-mauve" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-sal-essential-scrub-top-mauve"%}    
        <a href="https://mediclo.com/products/sal-essential-scrub-top-mauve" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-mauve" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

        {% elsif value == "Tree Edition" and product.url contains "sal-essential-scrub-top-navy"%}    
          
          <a href="https://mediclo.com/products/sal-essential-scrub-top-navy" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-navy" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-sal-essential-scrub-top-navy"%}    
        <a href="https://mediclo.com/products/sal-essential-scrub-top-navy" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-navy" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

      {% elsif value == "Tree Edition" and product.url contains "sal-essential-scrub-top-sage-green"%}    
          
          <a href="https://mediclo.com/products/sal-essential-scrub-top-sage-green" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-sage-green" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-sal-essential-scrub-top-sage-green"%}    
        <a href="https://mediclo.com/products/sal-essential-scrub-top-sage-green" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-sage-green" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

      {% elsif value == "Tree Edition" and product.url contains "sal-essential-scrub-top-stone-blue"%}    
          
          <a href="https://mediclo.com/products/sal-essential-scrub-top-stone-blue" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-stone-blue" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-sal-essential-scrub-top-stone-blue"%}    
        <a href="https://mediclo.com/products/sal-essential-scrub-top-stone-blue" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-stone-blue" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

      <!--  ********* Capri  **********   -->

      {% elsif value == "Tree Edition" and product.url contains "capri-collared-scrub-top-black" %}    
        <a href="https://mediclo.com/products/capri-collared-scrub-top-black" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-capri-collared-scrub-top-black" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-capri-collared-scrub-top-black" %}    
        <a href="https://mediclo.com/products/capri-collared-scrub-top-black" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-black" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

<!--        {% elsif value == "Tree Edition" and product.url contains "capri-collared-scrub-top-mauve" %}    
        <a href="https://mediclo.com/products/capri-collared-scrub-top-mauve" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-capri-collared-scrub-top-mauve" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-capri-collared-scrub-top-mauve" %}    
        <a href="https://mediclo.com/products/capri-collared-scrub-top-mauve" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-sal-essential-scrub-top-mauve" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a> -->


      <!--  ******* Kauai *********  -->

      {% elsif value == "Tree Edition" and product.url contains "kauai-slim-fit-scrub-top-black" %}    
        <a href="https://mediclo.com/products/kauai-slim-fit-scrub-top-black" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-kauai-slim-fit-scrub-top-black" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-kauai-slim-fit-scrub-top-black" %}    
        <a href="https://mediclo.com/products/kauai-slim-fit-scrub-top-black" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-kauai-slim-fit-scrub-top-black" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

      {% elsif value == "Tree Edition" and product.url contains "kauai-slim-fit-scrub-top-mauve" %}    
        <a href="https://mediclo.com/products/kauai-slim-fit-scrub-top-mauve" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-kauai-slim-fit-scrub-top-mauve" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-kauai-slim-fit-scrub-top-mauve" %}    
        <a href="https://mediclo.com/products/kauai-slim-fit-scrub-top-mauve" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-kauai-slim-fit-scrub-top-mauve" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

      {% elsif value == "Tree Edition" and product.url contains "kauai-slim-fit-scrub-top-sage-green" %}    
        <a href="https://mediclo.com/products/kauai-slim-fit-scrub-top-sage-green" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-kauai-slim-fit-scrub-top-sage-green" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-kauai-slim-fit-scrub-top-sage-green" %}    
        <a href="https://mediclo.com/products/kauai-slim-fit-scrub-top-sage-green" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-kauai-slim-fit-scrub-top-sage-green" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

      {% elsif value == "Tree Edition" and product.url contains "kauai-slim-fit-scrub-top-stone-blue" %}    
        <a href="https://mediclo.com/products/kauai-slim-fit-scrub-top-stone-blue" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-kauai-slim-fit-scrub-top-stone-blue" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-kauai-slim-fit-scrub-top-stone-blue" %}    
        <a href="https://mediclo.com/products/kauai-slim-fit-scrub-top-stone-blue" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-kauai-slim-fit-scrub-top-stone-blue" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

      <!--  ********  Lanai ********     -->

        {% elsif value == "Tree Edition" and product.url contains "lanai-rib-band-scrub-top-black" %}    
        <a href="https://mediclo.com/products/lanai-rib-band-scrub-top-black" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-lanai-rib-band-scrub-top-black" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-lanai-rib-band-scrub-top-black" %}    
        <a href="https://mediclo.com/products/lanai-rib-band-scrub-top-black" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-lanai-rib-band-scrub-top-black" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

       {% elsif value == "Tree Edition" and product.url contains "lanai-rib-band-scrub-top-mauve" %}    
        <a href="https://mediclo.com/products/lanai-rib-band-scrub-top-mauve" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-lanai-rib-band-scrub-top-mauve" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-lanai-rib-band-scrub-top-mauve" %}    
        <a href="https://mediclo.com/products/lanai-rib-band-scrub-top-mauve" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-lanai-rib-band-scrub-top-mauve" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

      {% elsif value == "Tree Edition" and product.url contains "lanai-rib-band-scrub-top-navy" %}    
        <a href="https://mediclo.com/products/lanai-rib-band-scrub-top-navy" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-lanai-rib-band-scrub-top-navy" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-lanai-rib-band-scrub-top-navy" %}    
        <a href="https://mediclo.com/products/lanai-rib-band-scrub-top-navy" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-lanai-rib-band-scrub-top-navy" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

      {% elsif value == "Tree Edition" and product.url contains "lanai-rib-band-scrub-top-stone-blue" %}    
        <a href="https://mediclo.com/products/lanai-rib-band-scrub-top-stone-blue" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-lanai-rib-band-scrub-top-stone-blue" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-lanai-rib-band-scrub-top-stone-blue" %}    
        <a href="https://mediclo.com/products/lanai-rib-band-scrub-top-stone-blue" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-lanai-rib-band-scrub-top-stone-blue" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

        <!--  ********* Amelia **********   -->

      {% elsif value == "Tree Edition" and product.url contains "amelia-fitted-scrub-top-mauve" %}    
        <a href="https://mediclo.com/products/amelia-fitted-scrub-top-mauve" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-amelia-fitted-scrub-top-mauve" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-amelia-fitted-scrub-top-mauve" %}    
        <a href="https://mediclo.com/products/amelia-fitted-scrub-top-mauve" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
        <a href="https://mediclo.com/products/fysel-amelia-fitted-scrub-top-mauve" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

      {% elsif value == "Tree Edition" and product.url contains "amelia-fitted-scrub-top-stone-blue" %}    
        <a href="https://mediclo.com/products/amelia-fitted-scrub-top-stone-blue" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-amelia-fitted-scrub-top-stone-blue" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-amelia-fitted-scrub-top-stone-blue" %}    
        <a href="https://mediclo.com/products/amelia-fitted-scrub-top-stone-blue" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
         <a href="https://mediclo.com/products/fysel-amelia-fitted-scrub-top-stone-blue" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

      <!--  ******* Fiji **********  -->


      {% elsif value == "Tree Edition" and product.url contains "fiji-banded-collar-scrub-top-mauve" %}    
        <a href="https://mediclo.com/products/fiji-banded-collar-scrub-top-mauve" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-fiji-banded-collar-scrub-top-mauve" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-fiji-banded-collar-scrub-top-mauve" %}    
        <a href="https://mediclo.com/products/fiji-banded-collar-scrub-top-mauve" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
         <a href="https://mediclo.com/products/fysel-fiji-banded-collar-scrub-top-mauve" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>

      {% elsif value == "Tree Edition" and product.url contains "fiji-banded-collar-scrub-top-stone-blue" %}    
        <a href="https://mediclo.com/products/fiji-banded-collar-scrub-top-stone-blue" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
  
        <a href="https://mediclo.com/products/fysel-fiji-banded-collar-scrub-top-stone-blue" class="block-swatch-not-selected">
          <span>Bottle Edition</span>
        </a>

      {% elsif value == "Bottle Edition" and product.url contains "fysel-fiji-banded-collar-scrub-top-stone-blue" %}    
        <a href="https://mediclo.com/products/fiji-banded-collar-scrub-top-stone-blue" class="block-swatch-not-selected">
          <span>Tree Edition</span>
        </a>
        
         <a href="https://mediclo.com/products/fysel-fiji-banded-collar-scrub-top-stone-blue" class="block-swatch {% if selected %}is-selected{% endif %}">
          <span>{{ value }}</span>
        </a>
        

      {%- else -%}
      <label class="block-swatch" for="{{ id | escape }}" data-option-value>
        {%- if show_color -%}
          <span class="block-swatch__color" style="{{ swatch_style }}"></span>
        {%- endif -%}

        <span>{{ value }}</span>
      </label>
        
      {% endif %}
      
      
  {%- when 'color' -%}
    {%- assign white_label = 'general.label.white' | t | downcase -%}
    {%- assign value_downcase = value | downcase -%}

    {%- if href -%}
      <a href="{{ href }}" class="color-swatch {% if settings.color_swatch_style == 'rectangle' %}color-swatch--rectangle{% endif %} {% if size == 'sm' %}color-swatch--sm{% endif %} {% if selected %}is-selected{% endif %} {% if white_label == value_downcase %}ring-inset{% endif %} {% if settings.color_swatch_style == 'round' %}rounded-full{% endif %}" {% if show_tooltip %}data-tooltip="{{ value | escape }}"{% endif %} style="{{ swatch_style }}" data-color-name="{{ value }}"
        data-src="{{ value | handle | append: '.png' | file_img_url: '48x48', crop: 'center' }}" data-value="{{ swatch_value }}" >
        <span class="sr-only">{{ value }}</span>
      </a>
    {%- else -%}
      <label style="display: none;"class="color-swatch {% if settings.color_swatch_style == 'rectangle' %}color-swatch--rectangle{% endif %} {% if size == 'sm' %}color-swatch--sm{% endif %} {% if white_label == value_downcase %}ring-inset{% endif %} {% if settings.color_swatch_style == 'round' %}rounded-full{% endif %}" for="{{ id | escape }}" data-option-value {% if show_tooltip %}data-tooltip="{{ value | escape }}"{% endif %} style="{{ swatch_style }}"
        data-value="{{ swatch_value }}" 
        data-color-name="{{ value }}"
        data-src="{{ value | handle | append: '.png' | file_img_url: '48x48', crop: 'center' }}" 
      >
        <span style="display: none;" class="sr-only"> {{ value }}</span>
      </label>
    {%- endif -%}
  
  
<script>
  
      var mediaJson = {{ product.media|json }};

      if (mediaJson[0].alt == "Mauve") {
         $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #BF697E;}</style>');
         $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Stone Blue") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #96BABC;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Coffee Brown") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #422200;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Hunter Green") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #247052;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Rose Pink") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #FF99AF;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Indigo Navy") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #4A4F69;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Olive Green") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #747B66;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Sage Green") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #B6D1B1;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Ceil Blue") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #9DBDED;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Navy") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #20294B;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Lavender") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #B27B9A;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Black") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #060506;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Burgundy") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #7B2E3D;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Spruce Green") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #446250;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Sunflower") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #DF9C0A;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Fire Red") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #D42537;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Paradise Green") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #98BB37;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      } else if (mediaJson[0].alt == "Heather Grey") {
        $('.block-swatch').append('<style>:checked + .block-swatch {background-color: #656564;}</style>');
        $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff;}</style>');
      }
  
     $('.color-swatch').on('click', function(){
      var imgSrc = $(this).attr('data-src');
      var colorName = $(this).attr('data-color-name');
  
      $('.block-swatch').append('<style>:checked + .block-swatch {background-image: url('+imgSrc+') !important;}</style>');
      $('.block-swatch').append('<style>:checked + .block-swatch {color: #fff !important;}</style>');  

    
     })
 
</script>


{%- endcase -%}

