{%- render 'section-spacing-collapsing' -%}

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
CSS
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<style>
  #shopify-section-{{ section.id }} .collection-list {
    --collection-list-grid: {% if section.settings.stack_collections %}none{% else %}auto / auto-flow 73vw{% endif %};
  }

  @media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }} .collection-list {
      --collection-list-grid: {% if section.settings.stack_collections %}auto / repeat(2, minmax(0, 1fr)){% else %}auto / auto-flow 36vw{% endif %};
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} .collection-list {
      --collection-list-grid: {% if section.settings.stack_collections %}auto / repeat({{ 3 | at_most: section.settings.collections_per_row }}, minmax(0, 1fr)){% else %}auto / auto-flow calc(var(--container-inner-width) / {{ section.settings.collections_per_row }} - (var(--grid-gutter) / 3 * 2)){% endif %};
    }
  }

  @media screen and (min-width: 1400px) {
    #shopify-section-{{ section.id }} .collection-list {
      --collection-list-grid: {% if section.settings.stack_collections %}auto / repeat({{ section.settings.collections_per_row }}, minmax(0, 1fr)){% else %}auto / auto-flow calc(var(--container-inner-width) / {{ section.settings.collections_per_row }} - (var(--grid-gutter) / {{ section.settings.collections_per_row }} * {{ section.settings.collections_per_row | minus: 1 }})){% endif %};
    }
  }
</style>

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
LIQUID
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<div {% render 'section-properties' %}>
  <div class="section-stack">
    {%- assign link_url = section.settings.link_url | default: section.settings.collection.url -%}
    {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title, heading_color: section.settings.heading_color, heading_gradient: section.settings.heading_gradient, content: section.settings.content, link_text: section.settings.link_text, link_url: link_url -%}

    <div class="{% if section.settings.show_progress_bar %}scrollable-with-controls{% else %}floating-controls-container{% endif %}">
      {%- assign scroll_area_id = 'scroll-area-' | append: section.id -%}

      <scroll-carousel selector=".collection-card" id="{{ scroll_area_id }}" class="scroll-area bleed {% if section.blocks.size > section.settings.collections_per_row %}is-scrollable{% endif %}"> 
        <div class="collection-list-container">
          <div class="collection-list-image-container">
            <img class="collection-list-image" src="https://cdn.shopify.com/s/files/1/2490/1254/files/shop_by_color-1.jpg?v=1678742644"/> 
            <div class="collection-list-colors">
              <div class="imag__wrap">
                <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Fire+Red&sort_by=manual">
                  <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/Fire_Red_5f123f06-3477-43af-b60f-aab2f65f8f39.png?v=1678735563"/>
                  <p class="img__description">Fire Red</p>
                </a>
              </div>
              <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Sunflower&sort_by=manual">
                <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/sunflower_b5dc2ef1-9689-4b0c-830b-112726609ea4.png?v=1678486690"/>
              </a>
               <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Mauve&sort_by=manual">
                <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/Mauve_dc7f4577-aad9-4df5-acec-ca7a42074e2b.png?v=1678735676"/>
              </a>
               <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Lavender&sort_by=manual">
                <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/Lavender_e1844694-6347-49e9-8045-e01275d3ccd1.png?v=1678735855"/>
              </a>      
            </div>
          </div>

          <div class="collection-list-image-container">
            <img class="collection-list-image" src="https://cdn.shopify.com/s/files/1/2490/1254/files/shop_by_color-2.jpg?v=1678486925"/> 
            <div class="collection-list-colors">
              <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Navy&sort_by=manual">
                <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/Navy_9d06dfca-523a-46b7-9d94-a52853d43288.png?v=1678487029"/>
              </a>
              <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Caribbean+Blue&sort_by=manual">
                <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/Caribbean_Blue_e0657baa-50ac-42a6-b51a-3986b4bc4728.png?v=1678487182"/>
              </a>
              <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Stone+Blue&sort_by=manual">
                <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/Stone_Blue_cdf23388-1c7a-4c14-905a-d5e53c6d9ab2.png?v=1678487097"/>
              </a>
              <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Ceil+Blue&sort_by=manual">
                <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/Ceil_Blue_a5c1f5ae-765c-4020-8142-fd486597c019.png?v=1678488039"/>
              </a>
            </div>
          </div>

          <div class="collection-list-image-container">
            <img class="collection-list-image" src="https://cdn.shopify.com/s/files/1/2490/1254/files/shop_by_color-3_b6ee580b-48cd-4f6a-a4d0-7ceb090c0e3a.jpg?v=1678739903"/> 
            <div class="collection-list-colors">
             <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Hunter+Green&sort_by=manual">
                <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/Hunter_Green_547d12bd-0a03-488c-8654-2d61ee5f7836.png?v=1678737734"/>
              </a>
              <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Hunter+Green&sort_by=manual">
                <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/Spruce_Green_23aca68d-9570-4f0d-8b3c-5e04b2dedfc6.png?v=1678739992"/>
              </a>
              <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Olive+Green&sort_by=manual">
                <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/Olive_Green_2f4fb7e7-bea4-454a-b245-626cdd009803.png?v=1678740191"/>
              </a>
              <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Ceil+Blue&sort_by=manual">
                <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/Sage_Green_3988302d-93db-404d-ba7b-fbf59d44c870.png?v=1678737839"/>
              </a>
            </div>
         </div>

          <div class="collection-list-image-container">
            <img class="collection-list-image" src="https://cdn.shopify.com/s/files/1/2490/1254/files/shop_by_color-4.jpg?v=1678740743"/> 
            <div class="collection-list-colors">
              <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Black&sort_by=manual">
                <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/Black_8d835c5b-5a51-4c85-92f1-1a324e991e15.png?v=1678740814"/>
              </a>
              <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Moonlight+Navy&sort_by=manual">
                <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/Moonlight_Navy_3b378b3e-3116-425d-83eb-d23bec15cf8e.png?v=1678740937"/>
              </a>
              <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Heather+Grey&sort_by=manual">
                <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/Heather_Grey_19398206-a341-4895-b8cb-16b528cb8445.png?v=1678740937"/>
              </a>
              <a href="https://mediclo.com/collections/shop-men?filter.v.option.color=Steel+Grey&sort_by=manual">
                <img class="collection-list-color" src="https://cdn.shopify.com/s/files/1/2490/1254/files/Steel_Grey_49969692-0241-4afe-9af6-8a24b8eb8b0f.png?v=1678740937"/>
              </a>
            </div>
         </div>       
       </div>
      </scroll-carousel>


<!--       {%- if section.settings.stack_collections == false -%}
        {%- if section.settings.show_progress_bar -%}
          {%- assign default_progress = section.settings.collections_per_row | times: 1.0 | divided_by: section.blocks.size -%}
          {%- render 'scrollbar', observes: scroll_area_id, default_progress: default_progress, show_buttons: true -%}
        {%- else -%}
          <button is="prev-button" class="circle-button circle-button--lg circle-button--fill border group" aria-controls="{{ scroll_area_id }}" disabled>
            <span class="sr-only">{{ 'general.accessibility.previous' | t }}</span>
            <span class="animated-arrow animated-arrow--reverse"></span>
          </button>

          <button is="next-button" class="circle-button circle-button--lg circle-button--fill border group" aria-controls="{{ scroll_area_id }}">
            <span class="sr-only">{{ 'general.accessibility.next' | t }}</span>
            <span class="animated-arrow"></span>
          </button>
        {%- endif -%}
      {%- endif -%} -->
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection list",
  "class": "shopify-section--collection-list",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "stack_collections",
      "label": "Stack collections",
      "default": true
    },
    {
      "type": "range",
      "id": "collections_per_row",
      "min": 2,
      "max": 5,
      "label": "Collections per row (desktop)",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "show_progress_bar",
      "label": "Show carousel progress bar",
      "default": false
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text",
      "default": "View all"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1500 x 1800px .jpg recommended. Default to collection image."
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "info": "Default to collection title."
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link",
          "info": "Default to collection URL."
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading style",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h2"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Content position",
          "options": [
            {
              "value": "place-self-start text-start",
              "label": "Top left"
            },
            {
              "value": "place-self-start-center text-center",
              "label": "Top center"
            },
            {
              "value": "place-self-start-end text-end",
              "label": "Top right"
            },
            {
              "value": "place-self-center-start text-start",
              "label": "Middle left"
            },
            {
              "value": "place-self-center text-center",
              "label": "Middle center"
            },
            {
              "value": "place-self-center-end text-end",
              "label": "Middle right"
            },
            {
              "value": "place-self-end-start text-start",
              "label": "Bottom left"
            },
            {
              "value": "place-self-end-center text-center",
              "label": "Bottom center"
            },
            {
              "value": "place-self-end text-end",
              "label": "Bottom right"
            }
          ],
          "default": "place-self-center text-center"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 30
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}